<h1>My Kakeibo</h1>


<%= search_form_for(@q, url: root_path) do |f| %>
  <%= f.label :balance_cont, "収支" %>
  <%= f.select :balance_cont, [["収入"], ["支出"]],  :include_blank => true %>
  
  <%= f.date_field :settlement_date_gteq %>
~
  <%= f.date_field :settlement_date_lteq %>
    
  <%= f.label :description_cont, "内容" %>
  <%= f.text_field :description_cont %>
    
  <%= f.submit "Search", class: "btn btn-large btn-primary" %>
<% end %>


<br>


<div class="container">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>日付</th>
          <th>収支</th>
          <th>内容</th>
          <th>金額</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <%= render @payments %>
    </table>
  </div>
</div>