<tr>
  <td class="col-md-2"><%= payment.settlement_date %></td>
  <% if payment.balance == '収入' %>
    <td class="col-md-1" style="color:blue;"><%= payment.balance %></td>
  <% else %>
    <td class="col-md-1" style="color:red;"><%= payment.balance %></td>
  <% end %>
  <td class="col-md-5"><%= payment.description %></td>
  <td class="col-md-1" style="color:blue;"><%= payment.price if payment.balance == '収入' %></td>
  <td class="col-md-1" style="color:red;"><%= payment.price if payment.balance == '支出'  %></td>
  <% if current_user == payment.user %>
  <td class="col-md-1"><%= link_to "Edit", edit_payment_path(payment),class:'btn btn-success btn-xs' %></td>
  <td class="col-md-1"><%= link_to "Delete", payment, method: :delete,
                  data: { confirm: "Are you sure?" }, class:'btn btn-danger btn-xs' %></td>
  <% end %>
</tr>
