<tr>
  <td><%= payment.settlement_date %></td>
  <td><%= payment.balance %></td>
  <td><%= payment.description %></td>
  <td><%= payment.price %></td>
</tr>
<% if current_user == payment.user %>
  <%= link_to "delete", payment, method: :delete,
                                 data: { confirm: "You sure?" } %>
<% end %>