<h1>Payments#index</h1>
<p>Find me in app/views/payments/index.html.erb</p>


<!--入力フォーム部分-->
<%= form_for(@payment) do |f| %>

<!--フォームとsubmitボタンを書く-->
  <%= f.label :price %>
  <%= f.text_field :price, class: 'form-control' %>

  <%= f.submit %>
<% end %>


<!--一覧表示-->
<table>
  <tr>
    <td>日付</td>
    <td>収支</td>
    <td>内容</td>
    <td>金額</td>
  </tr>
  <%= render @payments %>
</table>